/* !!! Style for input-bootstrap forms !!! */
button,
input,
optgroup,
select {
  /* font-weight: bold; */
  color: black;
}
/* textarea {
  margin: 0;
  font: inherit;
  color: inherit;
} */
/* label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: normal;
} */
/* input[type="search"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} */
/* input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
} */
/* input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
} */
/* select[multiple],
select[size] {
  height: auto;
} */
/* input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
} */

/* !!! Style for thead and tfoot of DataTable !!! */

/* table.dataTable thead th,
table.dataTable tfoot th {
  color: aqua;
  font-weight: normal;
  font-size: 1.25em;
} */
/* .container,
.container-fluid {
  margin-top: 2em;
} */
/* .dataTables_wrapper .dataTables_length {
  color: yellow;
} */
/* .dataTables_wrapper .dataTables_filter{
  color: red;
} */
/* .dataTables_wrapper .dataTables_info{
  color: aqua;
} */
/* .dataTables_wrapper .dataTables_processing{
  color: green;
} */
/* .dataTables_wrapper .dataTables_paginate {
  color: aqua;
} */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: aqua !important;
  border: 1px solid transparent;
  background: linear-gradient(to bottom, black, rgba(4,4,4,.8));
  -webkit-border-radius: 4px; /* for Chrome 4.0+; Safari 3.1+; */
  -moz-border-radius: 4px; /* for Firefox 3.0+; */
  border-radius: 4px; /* for Chrome 5.0+; IE 9.0+; Firefox 4.0+; Safari 5.0+; Opera 10.5+; */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
  border: 1px solid #cacaca;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, gainsboro 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to top, #222, #555, #777);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: white !important;
  border: none;
  border-color: #777 #222 #222;
  background: linear-gradient(to top, #222, #555, #777);
  /* background-color: #222222;
  "Invalid", but works in 6-8
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#222222, endColorstr=#777777);
  Valid, works in 8-9
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#222222, endColorstr=#777777)";
  Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0
  background: -webkit-gradient(linear, left bottom, left top, from(#222222), color-stop(0.5, #555555), to(#777777));
  Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3
  background: -webkit-linear-gradient(bottom, #222222, #555555, #777777);
  Firefox 3.6 - 15
  background: -moz-linear-gradient(bottom, #222222, #555555, #777777);
  Opera 11.1 - 12
  background: -o-linear-gradient(bottom, #222222, #555555, #777777);
  Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+
  background: linear-gradient(to top, #222222, #555555, #777777); */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111111 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  /* color: yellow !important; */
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  -webkit-box-shadow: inset 0 0 3px #111; /* for Chrome 4.0+; Safari 3.1+; */
     -moz-box-shadow: inset 0 0 3px #111; /* for Firefox 3.5+; */
          box-shadow: inset 0 0 3px #111; /* for Chrome 10.0+; IE 9.0+; Firefox 4.0+; Safari 5.1+; Opera 10.5+; */
}


.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  -webkit-border-radius: 4px; /* for Chrome 4.0+; Safari 3.1+; */
  -moz-border-radius: 4px; /* for Firefox 3.0+; */
  border-radius: 4px; /* for Chrome 5.0+; IE 9.0+; Firefox 4.0+; Safari 5.0+; Opera 10.5+; */
  line-height: 1.3em;
  padding: 1px 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); /* for Chrome 4.0+; Safari 3.1+; */
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); /* for Firefox 3.5+; */
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); /* for Chrome 10.0+; IE 9.0+; Firefox 4.0+; Safari 5.1+; Opera 10.5+; */
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.dataTables_wrapper .dataTables_filter input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); /* for Chrome 4.0+; Safari 3.1+; */
     -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); /* for Firefox 3.5+; */
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); /* for Chrome 10.0+; IE 9.0+; Firefox 4.0+; Safari 5.1+; Opera 10.5+; */
}
.dataTables_wrapper .dataTables_filter input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.dataTables_wrapper .dataTables_filter input:-ms-input-placeholder {
  color: #999;
}
.dataTables_wrapper .dataTables_filter input::-webkit-input-placeholder {
  color: #999;
}

select {
  -webkit-border-radius: 4px; /* for Chrome 4.0+; Safari 3.1+; */
  -moz-border-radius: 4px; /* for Firefox 3.0+; */
  border-radius: 4px; /* for Chrome 5.0+; IE 9.0+; Firefox 4.0+; Safari 5.0+; Opera 10.5+; */
  padding: 1px 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); /* for Chrome 4.0+; Safari 3.1+; */
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); /* for Firefox 3.5+; */
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); /* for Chrome 10.0+; IE 9.0+; Firefox 4.0+; Safari 5.1+; Opera 10.5+; */
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); /* for Chrome 4.0+; Safari 3.1+; */
     -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); /* for Firefox 3.5+; */
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); /* for Chrome 10.0+; IE 9.0+; Firefox 4.0+; Safari 5.1+; Opera 10.5+; */

}
.main-table {
  padding: 10px 5px;
}