.footer {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  /* border-color: #777 #222 #222;
  background: linear-gradient(to top, #222, #555, #777); */
  /* padding: 0 5em 0 15em; */
  /* Set the fixed height of the footer here */
  height: 50px;
  /* background: url(http://subtlepatterns.com/patterns/dark_geometric.png) repeat; */
}
.footer-background {
  border-color: #777 #222 #222;
  background: linear-gradient(to top, #222, #555, #777);
}

@media (max-width: 767px) {
  .footer {
    height: 100px;
  }
}