html {
	position: relative;
	min-height: 100%;
}
body {
	background: url(http://subtlepatterns.com/patterns/dark_wood.png) repeat;
	padding-top: 55px;
  /*padding-bottom: 30px;*/
	-webkit-box-sizing: border-box; /* for Chrome 4.0+; Safari 3.2+; */
	   -moz-box-sizing: border-box; /* for Firefox 2.0+; */
	        box-sizing: border-box; /* for Chrome 10.0+; IE 8.0+; Firefox 29.0+; Safari 5.1+; Opera 9.5+; */
}
h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, sans-serif;
	font-style: italic;
	text-align: center;
}
.carousel-caption h3 {
	color: aqua;
	text-shadow: 1px 1px 0 yellow;
	letter-spacing: 2px;
}

/* !!! Styles for Main Content !!! */

.main-body {
	padding-top: 5px;
	padding-bottom: 65px;
}
.main-content {
	margin: 5px;
	padding: 1px;
	border-radius: 4px; /* for Chrome 5.0+; IE 9.0+; Firefox 4.0+; Safari 5.0+; Opera 10.5+; */
	-webkit-box-shadow: 0 0 10px 3px #d3d3d3; /* for Chrome 4.0+; Safari 3.1+; */
	   -moz-box-shadow: 0 0 10px 3px #d3d3d3; /* for Firefox 3.5+; */
	        box-shadow: 0 0 10px 3px #d3d3d3; /* for Chrome 10.0+; IE 9.0+; Firefox 4.0+; Safari 5.1+; Opera 10.5+; */
	background: url(http://subtlepatterns.com/patterns/scribble_light.png) repeat;
}

/* !!! Styles for GlyphIcons !!! */

.glyphicon {
	color: aqua;
}
.glyphicon:hover {
	color: #fff;
}
.glyphicon-chevron-up {
  display: inline-block;
  position: fixed;
  padding: 10px 10px 10px 12px;
  font-size: 1.5em;
  -webkit-box-shadow: 0 0 6px 2px white, 0 0 4px 1px black; /* for Chrome 4.0+; Safari 3.1+; */
  	 -moz-box-shadow: 0 0 6px 2px white, 0 0 4px 1px black; /* for Firefox 3.5+; */
  				box-shadow: 0 0 6px 2px white, 0 0 4px 1px black; /* for Chrome 10.0+; IE 9.0+; Firefox 4.0+; Safari 5.1+; Opera 10.5+; */
  background: linear-gradient(to bottom, black, rgba(4,4,4,.8));
  border-radius: 50%; /* for Chrome 5.0+; IE 9.0+; Firefox 4.0+; Safari 5.0+; Opera 10.5+; */
  top: 85%;
  left: 90%;
}
.glyphicon-chevron-up:hover {
  background: linear-gradient(to top, #222, #555, #777);
  -webkit-box-shadow: inset 0 0 4px #000; /* for Chrome 4.0+; Safari 3.1+; */
  	 -moz-box-shadow: inset 0 0 4px #000; /* for Firefox 3.5+; */
  				box-shadow: inset 0 0 4px #000; /* for Chrome 10.0+; IE 9.0+; Firefox 4.0+; Safari 5.1+; Opera 10.5+; */
  padding: 11px 10px 9px 12px;
  cursor: pointer;
}

/* !!! Styles for Carousel !!! */

.carousel-caption p{
	letter-spacing: 1px;
	font-family: Verdana, sans-serif;
	font-style: italic;
	color: red;
	text-shadow: 1px 1px 0 black;
}
.carousel, .slide, .carousel-inner, .item, .carousel-control {
	border-radius: 4px; /* for Chrome 5.0+; IE 9.0+; Firefox 4.0+; Safari 5.0+; Opera 10.5+; */
}

@media (max-width: 767px) {
  .main-body {
  	padding-bottom: 110px;
  }
  .glyphicon-chevron-up {
  	left: 85%;
  }
  .carousel-caption>p {
		display: none;
  }
}