.sidebar {
	/* z-index: 1000; */
	display: block;
	/* for Chrome 5.0+; IE 9.0+; Firefox 4.0+; Safari 5.0+; Opera 10.5+; */
	border-radius: 4px; 
	/* overflow-x: hidden; */
	/* overflow-y: auto; */ /* Scrollable contents if viewport is shorter than content. */
	/* background-color: transparent; */
	background: linear-gradient(to right, rgba(1,1,1,.7), rgba(4,4,4,.5));
	/* for Chrome 4.0+; Safari 3.1+; */
	-webkit-box-shadow: inset 0 0 3px 1px rgba(255,255,255,.2); 
	/* for Firefox 3.5+; */
		 -moz-box-shadow: inset 0 0 3px 1px rgba(255,255,255,.2); 
	/* for Chrome 10.0+; IE 9.0+; Firefox 4.0+; Safari 5.1+; Opera 10.5+; */
					box-shadow: inset 0 0 3px 1px rgba(255,255,255,.2); 
}
.sidebar a[data-toggle] {
	text-decoration: none;
	color: aqua;
	background: black;
	/* for Chrome 4.0+; Safari 3.1+; */
	-webkit-box-shadow: inset 0 0 3px 1px #fff; 
	/* for Firefox 3.5+; */
		 -moz-box-shadow: inset 0 0 3px 1px #fff; 
	/* for Chrome 10.0+; IE 9.0+; Firefox 4.0+; Safari 5.1+; Opera 10.5+; */
					box-shadow: inset 0 0 3px 1px #fff; 
	display: block;
	padding: 5px;
	/* for Chrome 5.0+; IE 9.0+; Firefox 4.0+; Safari 5.0+; Opera 10.5+; */
	border-radius: 4px;
}
.sidebar a[data-toggle]:hover {
	color: white;
	background: linear-gradient(to top, #222222, #555555, #777777);
	background-color: #222222;
  /* "Invalid", but works in 6-8 */
  /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#222222, endColorstr=#777777); */
  /* Valid, works in 8-9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#777777, endColorstr=#222222)";
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background: -webkit-gradient(linear, left bottom, left top, from(#222222), color-stop(0.5, #555555), to(#777777));
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background: -webkit-linear-gradient(bottom, #222222, #555555, #777777);
  /* Firefox 3.6 - 15 */
  background: -moz-linear-gradient(bottom, #222222, #555555, #777777);
  /* Opera 11.1 - 12 */
  background: -o-linear-gradient(bottom, #222222, #555555, #777777);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background: linear-gradient(to top, #222222, #555555, #777777);
	/* for Chrome 4.0+; Safari 3.1+; */
	-webkit-box-shadow: none;
	/* for Firefox 3.5+; */
		 -moz-box-shadow: none;
	/* for Chrome 10.0+; IE 9.0+; Firefox 4.0+; Safari 5.1+; Opera 10.5+; */
					box-shadow: none;
}
.sidebar a[data-toggle]:active,
.sidebar a[data-toggle]:focus {
	color: yellow;
	background: linear-gradient(to top, #222222, #555555, #777777);
	background-color: #222222;
  /* "Invalid", but works in 6-8 */
  /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#222222, endColorstr=#777777); */
  /* Valid, works in 8-9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#777777, endColorstr=#222222)";
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background: -webkit-gradient(linear, left bottom, left top, from(#222222), color-stop(0.5, #555555), to(#777777));
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background: -webkit-linear-gradient(bottom, #222222, #555555, #777777);
  /* Firefox 3.6 - 15 */
  background: -moz-linear-gradient(bottom, #222222, #555555, #777777);
  /* Opera 11.1 - 12 */
  background: -o-linear-gradient(bottom, #222222, #555555, #777777);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background: linear-gradient(to top, #222222, #555555, #777777);
	/* for Chrome 4.0+; Safari 3.1+; */
	-webkit-box-shadow: none;
	/* for Firefox 3.5+; */
		 -moz-box-shadow: none;
	/* for Chrome 10.0+; IE 9.0+; Firefox 4.0+; Safari 5.1+; Opera 10.5+; */
					box-shadow: none;
}
.sidebar > ul {
	padding: 0;
	margin: 0;
}
.sidebar>ul:first-child {
	padding-top: 15px;
}
.sidebar>ul:last-child {
	padding-bottom: 15px;
}
.sidebar ul ul {
	padding: 0;
	margin: 0;
	margin-left: 15px;
}
.sidebar ul ul>li {
	padding: 0 5px;
	margin: 4px;
	/* for Chrome 4.0+; Safari 3.1+; */
	-webkit-box-shadow: inset 0 0 5px red; 
	/* for Firefox 3.5+; */
		 -moz-box-shadow: inset 0 0 5px red; 
	/* for Chrome 10.0+; IE 9.0+; Firefox 4.0+; Safari 5.1+; Opera 10.5+; */
					box-shadow: inset 0 0 5px red; 
	border: 1px solid red;
	/* for Chrome 5.0+; IE 9.0+; Firefox 4.0+; Safari 5.0+; Opera 10.5+; */
	border-radius: 4px;
}
.sidebar ul ul>li:hover {
	border: 1px solid #222222;
	/* for Chrome 4.0+; Safari 3.1+; */
	-webkit-box-shadow: none;
	/* for Firefox 3.5+; */
	-moz-box-shadow: none;
	/* for Chrome 10.0+; IE 9.0+; Firefox 4.0+; Safari 5.1+; Opera 10.5+; */
	box-shadow: none;
	/*color: white;*/
	background: linear-gradient(to top, #222222, #555555, #777777);
	background-color: #222222;
  /* "Invalid", but works in 6-8 */
  /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#222222, endColorstr=#777777); */
  /* Valid, works in 8-9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#777777, endColorstr=#222222)";
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background: -webkit-gradient(linear, left bottom, left top, from(#222222), color-stop(0.5, #555555), to(#777777));
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background: -webkit-linear-gradient(bottom, #222222, #555555, #777777);
  /* Firefox 3.6 - 15 */
  background: -moz-linear-gradient(bottom, #222222, #555555, #777777);
  /* Opera 11.1 - 12 */
  background: -o-linear-gradient(bottom, #222222, #555555, #777777);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background: linear-gradient(to top, #222222, #555555, #777777);
}
.sidebar ul ul>li:hover a {
	/*border: none;*/
	color: white;
	background: transparent;
}
.sidebar ul ul>li>a {
	text-decoration: none;
	color: aqua;
}
.sidebar ul ul>li>a:active,
.sidebar ul ul>li>a:focus {
	color: yellow;
}

/* .nav-sidebar {
  margin-right: -9px; 20px padding + 1px border
  margin-bottom: 10px;
  margin-left: -9px;
} */

/*.main {
    padding-right: 20px;
    padding-left: 20px;
}*/

/* .panel-group {
  margin: 5px 0;
} */
.panel-group .panel {
  margin-bottom: 0;
  /* for Chrome 5.0+; IE 9.0+; Firefox 4.0+; Safari 5.0+; Opera 10.5+; */
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel {
  margin-bottom: 20px;
  background-color: transparent; /* previous = #fff; */
  /* border: 1px solid transparent; */
  /* for Chrome 5.0+; IE 9.0+; Firefox 4.0+; Safari 5.0+; Opera 10.5+; */
  border-radius: 4px;
  /* -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05); */
}
/* @media (max-width: 767px) {
	.sidebar ul:first-child {
		padding-top: 10px;
	}
	.sidebar ul:last-child {
		padding-bottom: 10px;
	}
} */

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		overflow-x: hidden; 
		overflow-y: auto;
		top: 55px;
		bottom: 5px;
		left: 0;
	}
}