*.txt
!data/*.txt
dest/
github/
Gruntfile.js
data/supercars_first.json
package.json
package(forGrunt).json
*.jpg
!images/**/*.jpg
image of super cars/
images/compressed_slider/
node_modules/
package(forGrunt).json